<header class="d-flex justify-content-start header-background">
  <a href="#">
    <div class="gfsLogo"></div>
  </a>
  <div class="d-flex flex-column">
    <div class="app-label font-weight-bold">
      {{'COMMON.TITLE' | translate }}
    </div>
  </div>
</header>
<section class="row shade-height">
  <div class="col-md-12"></div>
</section>
