@import "../../../assets/scss/partials/variables";

.gfsLogo {
  background-repeat: no-repeat;
  background-image: url("../../../assets/images/logo.png");
  display: inline-block;
  vertical-align: top;
  width: 60px;
  height: 60px;
}

.app-label {
  font-size: $gfs-fontsize-16;
  font-weight: 500;
  margin-left: 15px;
  margin-top: 18px;
  color: $gfs-label-black;
}

.header-background {
  position: relative;
  z-index: 1;
  height: 60px;
  box-shadow: 0 2px 4px 0 $gfs-header-boxshadow;
  width: 100%;
}

.shade-height {
  height: 36px;
  background: $gfs-gray-1;
}
