@import '../../../assets/scss/partials/global';
@import "../../../assets/scss/partials/mixins";
@import "../../../assets/scss/partials/variables";


.fixed-bottom {
  position: fixed;
  bottom: 20px;
  width: 100%;
  background-color: $gfs-white;
}

.hr-adjust {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 20px;
  background-color: $gfs-white;
}

.info-icon {
  width: 15px;
  height: 15px;
}

.toggle-helper {
  position: relative;
  top: 13px;
}

.horizontal-line {
  @include horizontal-separator(100%);
  box-sizing: border-box;
  margin-left: 0;
  margin-top: 16px;
  margin-bottom: 14px;
}

.align-warning {
  margin-top: 7px;
  margin-left: 10px;
}

.warning-text {
  height: 16px;
  font-size: $gfs-fontsize-14;
  font-style: italic;
  line-height: 1.14;
  text-align: left;
  color: $gfs-orange;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $gfs-white;
}


.hr-adjust {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 20px;
  background-color: $gfs-white;
}

.btn {
  margin-bottom: 20px;
}

hr {
  margin-top: 0;
}

.add-exception {
  width: 270px;
  height: 36px;
  border-radius: 4px;
  margin: 10px 20px;
}

.vertical-spacing {
  margin-top: 20px;
  margin-bottom: 20px;
}

.markup-title {
  width: 62px;
  height: 24px;
  font-family: $gfs-font-family;
  font-size: $gfs-fontsize-18;
  font-weight: 500;
  text-align: left;
  color: $gfs-stepper-black;
  margin-bottom: 5px;
}

.fade {
  background-color: rgba(0, 0, 0, .35);
}

.modal-dialog {
  max-width: 640px;
  border-radius: 2px;
  margin: 140px auto;
}

.modal-content {
  background-color: $gfs-white-2;
}

.modal-header {
  padding: 20px;
  border-bottom: unset;
  padding-bottom: 10px;
}

.modal-title-text {
  padding: 0 20px;
  border-bottom: 1px solid $gfs-gray-4;
  font-family: $gfs-font-family;
  font-size: $gfs-fontsize-16;
  line-height: 1.5;
  text-align: left;
  color: $gfs-label-black;
  padding-bottom: 15px;
}

.modal-delete {
  border-bottom: unset;
}

.modal-title {
  width: 95%;
  height: 21px;
  font-family: $gfs-font-family;
  font-size: $gfs-fontsize-18;
  font-weight: 500;
  text-align: left;
  color: $gfs-stepper-black;
}

.markup-input {
  box-sizing: border-box;
  margin-top: 5px;
  width: 420px;
  height: 36px;
  border-radius: 2px;
  background-color: $gfs-white;
  border: solid 1px $gfs-gray-3;
}

.modal-footer {
  box-sizing: border-box;
  height: 56px;
  border-top: 1px solid $gfs-gray-4;
}

.add {
  margin-right: 0;
  margin-top: 20px;
  width: 80px;
  height: 36px;
  border-radius: 4px;
  background-color: $gfs-lt-navy-blue;
}

.cancel {
  width: 50px;
  height: 19px;
  font-family: $gfs-font-family;
  font-size: $gfs-fontsize-16;
  color: $gfs-lt-navy-blue;
  background-color: $gfs-white-2;
  border: none;
  padding: 0;
  margin-right: 15px;
  cursor: pointer;
}

.accordion-title {
  font-family: $gfs-font-family;
  width: 120px;
  height: 24px;
  font-size: $gfs-fontsize-18;
  line-height: 1.33;
  text-align: left;
  color: $gfs-lt-navy-blue;
  vertical-align: middle;
}

a {
  padding: 20px 0;
  text-align: center;
  color: $gfs-lt-navy-blue;
  text-decoration: none;
}

a:hover {
  height: 24px;
}


.circle {
  display: inline-block;
  font-size: $gfs-fontsize-12;
  color: $gfs-white;
  border-radius: 50%;
  background: $gfs-lt-navy-blue;
  width: 24px;
  height: 24px;
  line-height: 24px;
  margin-right: 5px;
  margin-left: 10px;
  text-align: center;
}

.copy-dropdown {
  width: 280px;
  height: 36px;
  border-radius: 2px;
  background-color: $gfs-white;
  border: solid 1px $gfs-gray-3;
  outline-style: none;
}

.completed > .circle {
  background: none;
}

.completed > .accordion-title {
  color: $gfs-green;
}

.current > .circle {
  background: $gfs-lt-navy-blue;
}
.current > .accordion-title {
  color: $gfs-lt-navy-blue;
}

.align-carat {
  vertical-align: middle;
}

.copy-label {
  width: 120px;
}

.edit {
  width: 28px;
  height: 19px;
  font-family: $gfs-font-family;
  font-size: $gfs-fontsize-16;
  color: $gfs-lt-navy-blue;
  text-decoration: underline;
}

a:focus {
  outline: none;
}

.delete {
  margin-top: 27px;
  width: 50px;
  height: 19px;
  font-family: $gfs-font-family;
  font-size: $gfs-fontsize-16;
  text-align: left;
  color: $gfs-red;
  background-color: $gfs-white-2;
  border: none;
  padding: 0;
  margin-right: 15px;
  cursor: pointer;
}

.btn-delete {
  margin-right: 0;
  margin-top: 20px;
  width: 80px;
  height: 36px;
  border-radius: 4px;
  color: $gfs-white;
  background-color: $gfs-red;
  box-shadow: unset;
  cursor: pointer;
}

.form-group {
  width: 72%;
}
