<footer class="app-footer">
  <div class="row">
    <div class="col-md-4 ml-md-auto text-center text-muted">
      {{'COMMON.COPYRIGHT' | translate}} &copy; {{'COMMON.FOOTER' | translate}}
    </div>
    <div class="col-md-4 small text-muted text-right">
  </div>
  </div>
</footer>
