@import "../../../assets/scss/partials/global";
@import "../../../assets/scss/partials/mixins";
@import "../../../assets/scss/partials/_variables.scss";

.info-bar {
  width: 1350px;
  height: 133px;
}

.contract-information {
  @include gfs-sub-headers(168px);
  margin-top: 20px;
}

.contract-name {
  @include contract-info-view-col-title(121px);
}

.contract-type {
  @include contract-info-view-col-title(180px);
}

.contract-start-date {
  @include contract-info-view-col-title(140px);
}

.contract-end-date {
  @include contract-info-view-col-title(133px);
}

.pricing-start-date {
  @include contract-info-view-col-title(140px);
}

.pricing-end-date {
  @include contract-info-view-col-title(143px);
}

.contract-data {
  @include contract-info-view-data;
  float: left;
}

.clear {
  clear: left;
}

.col-space {
  margin-top: 23px;
}

.header-spacing {
  width: 50px;
  height: 20px;
  float: left;
}

.header-spacing-with-separator {
  @extend .header-spacing;
  border-left: 1px solid $gfs-gray-4;
}

.contract-name-data {
  @extend .contract-data;
  width: 121px;
}

.contract-type-data {
  @extend .contract-data;
  width: 180px;
}

.contract-start-date-data {
  @extend .contract-data;
  width: 140px;
}

.contract-end-date-data {
  @extend .contract-data;
  width: 133px;
}

.pricing-start-date-data {
  @extend .contract-data;
  width: 140px;
}

.pricing-end-date-data {
  @extend .contract-data;
  width: 143px;
}

hr {
  margin-top: 0;
}

.left {
  float: left;
}

.horizontal-separator {
  @extend .horizontal-line;
  width: 100%;
}
