<div class="info-bar orient">
  <div class="contract-information">
    {{'CONTRCT_INFO_VIEW_LABEL.CONTRACT_INFORMATION' | translate}}
  </div>
  <div class="col-space">
    <table>
      <tr>
        <td class="contract-name">{{'CONTRCT_INFO_VIEW_LABEL.CONTRACT_NAME' | translate}}</td>
        <td class="header-spacing"></td>
        <td class="contract-type">{{'CONTRCT_INFO_VIEW_LABEL.CONTRACT_TYPE' | translate}}</td>
        <td class="header-spacing"></td>
        <td class="contract-start-date">{{'CONTRCT_INFO_VIEW_LABEL.CONTRACT_START_DATE' | translate}}</td>
        <td class="header-spacing"></td>
        <td class="contract-end-date">{{'CONTRCT_INFO_VIEW_LABEL.CONTRACT_END_DATE' | translate}}</td>
        <td class="header-spacing"></td>
        <div [hidden]="!contractInfoInd" class="left">
            <td class="header-spacing-with-separator"></td>
          <td class="pricing-start-date">{{'CONTRCT_INFO_VIEW_LABEL.PRICING_START_DATE' | translate}}</td>
          <td class="header-spacing"></td>
          <td class="pricing-end-date">{{'CONTRCT_INFO_VIEW_LABEL.PRICING_END_DATE' | translate}}</td>
        </div>
      </tr>
      <tr>
        <td class="contract-name-data">{{contractName}}</td>
        <td class="header-spacing"></td>
        <td class="contract-type-data">{{contractType}}</td>
        <td class="header-spacing"></td>
        <td class="contract-start-date-data">{{contractStartDate}}</td>
        <td class="header-spacing"></td>
        <td class="contract-end-date-data">{{contractEndDate}}</td>
        <td class="header-spacing"></td>
        <div [hidden]="!contractInfoInd" class="left">
            <td class="header-spacing-with-separator"></td>
          <td class="pricing-start-date-data">{{priceStartDate}}</td>
          <td class="header-spacing"></td>
          <td class="pricing-end-date-data">{{priceEndDate}}</td>
        </div>
      </tr>
    </table>
  </div>
</div>
<div class="horizontal-separator"></div>

