@import '../../../assets/scss/partials/global';
@import '../../../assets/scss/partials/variables';

.label {
  height: 24px;
  font-size: $gfs-fontsize-18;
  letter-spacing: normal;
  text-align: left;
  color: $gfs-stepper-black;
  font-weight: 500;
}

.sub-label {
  height: 18px;
  color: $gfs-label-black;
  font-size: $gfs-fontsize-14;
  text-align: left;
  font-weight: bold;
}

.edit {
  width: 92px;
  height: 19px;
  font-family: $gfs-font-family;
  font-size: $gfs-fontsize-16;
  font-weight: normal;
  line-height: 1.29;
  letter-spacing: 1.2px;
  text-align: center;
  color: $gfs-lt-navy-blue;
  background-color: $gfs-white;
  border: none;
  padding: 0;
  cursor: pointer;
}

.language {
  height: 18px;
  font-size: $gfs-fontsize-12;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  letter-spacing: normal;
  text-align: left;
  color: $gfs-label-black;
}

.content {
  width: 500px;
  font-size: $gfs-fontsize-14;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: $gfs-label-black;
}

.variable-header {
  height: 19px;
  font-size: $gfs-fontsize-14;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: $gfs-stepper-gray;
}

.variable {
  height: 24px;
  font-size: $gfs-fontsize-16;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: $gfs-label-black;
}

.data {
  height: 20px;
  font-size: $gfs-fontsize-14;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: left;
  color: $gfs-label-black;
}

.expand-bottom {
  margin-bottom: 6%;
}

.spinner {
  width: 50px;
  height: 50px;
  background-color: $gfs-lt-navy-blue;

  margin: 100px auto;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

//temporary loading animation. Sonar Defects to be ignored untill proper spinner is introduced for CPP Application.
@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

.download {
  width: 36px;
  height: 36px;
  border-radius: 4px;
  background-color: $gfs-header-color;
  border-style: none;
  color: $gfs-label-black;
}

.save-progress {
  width: 144px;
  height: 36px;
  border-radius: 4px;
  background-color: $gfs-header-color;
  color: $gfs-label-black;
  border-style: none;
}
