@import "./../../../../assets/scss/partials/global";
@import "./../../../../assets/scss/partials/mixins";
@import "./../../../../assets/scss/partials/variables";

#radio-group {
  float: left;
}

#radio-group label {
  float: left;
  width: 32px;
  line-height: 30px;
  height: 30px;
  border: 1px solid $gfs-gray-3;
  background-color: $gfs-white;
  color: $gfs-stepper-black2;
}

#radio-group label span {
  text-align: center;
  font-size: $gfs-fontsize-14;
  padding: 0;
  height: 29px;
  display: block;
}

#radio-group label input {
  position: absolute;
  top: -20px;
}

#radio-group input:checked + span {
  background-color: $gfs-lt-navy-blue;
  color: $gfs-white;
}

input[type="radio"] {
  display: none;
}

.info-icon {
  width: 15px;
  height: 15px;
}

.toggle-helper {
  position: relative;
  top: 13px;
}

.align-save {
  margin-left: auto;
  margin-top: 3px;
}

.save-markup {
  margin-right: unset;
  width: 134px;
  height: 36px;
  border-radius: 4px;
}

.copy-design{
  width: 91px;
  height: 24px;
  border-radius: 4px;
  background-color: $gfs-lt-navy-blue;
  font-size: $gfs-fontsize-14;
  text-align: center;
  line-height: 0.29;
  position: relative;
  margin-right: 40px;
}

.tooltip-box {
  width: 220px;
  background-color: $gfs-label-black;
  position: absolute;
  left: -210px;
  padding: 10px 10px 20px;
  top: 0;
}

.tooltip-label {
  font-family: $gfs-font-family;
  font-size: $gfs-fontsize-14;
  font-weight: bold;
  text-align: left;
  padding: 10px 0;
}

.tooltip-body {
  font-family: $gfs-font-family;
  font-size: $gfs-fontsize-12;
  text-align: left;
}

.horizontal-line {
  @include horizontal-separator(100%);
  box-sizing: border-box;
  margin-left: 0;
  margin-top: -5px;
  margin-bottom: 16px;
}

.align-warning {
  margin-top: 7px;
  padding-right: 15px;
}

.warning-text {
  height: 16px;
  font-size: $gfs-fontsize-14;
  font-style: italic;
  line-height: 1.14;
  text-align: left;
  color: $gfs-gray-2;
  padding-right: 5px;
}
