<div class="mb-5">
  <p class="orient pricing-information vertical-spacing">
    <strong>{{'CUST_INFO_LABEL.PRICING_INFO'| translate }}</strong>
  </p>

  <form [formGroup]="custInfoForm">

    <div class="row orient">
      <div class="form-group col-md-2">
        <label for="effectiveDate">{{'CUST_INFO_LABEL.PRICING_EFFECTIVE_DATE'| translate }}</label>
        <div class="input-group">
          <input class="form-control form-control-sm date-field date-text" placeholder="{{'CUST_INFO_LABEL.DATE_PLACEHOLDER'| translate }}"
            name="dp" ngbDatepicker #effectiveDate="ngbDatepicker" id="effectiveDate" formControlName="effectiveDate" [(ngModel)]="pricingEffectiveDate">
          <button class="input-group-addon" (click)="effectiveDate.toggle()" type="button">
            <img src="{{imageDir}}assets/images/calendar-icon.svg" class="calendar-icon " alt="Calendar Img" />
          </button>
        </div>
        <span class="text-danger help-block" *ngIf="!this.custInfoForm.get('effectiveDate').valid && custInfoForm.get('effectiveDate').touched">
          <span *ngIf="this.custInfoForm.get('effectiveDate').errors['required']">{{'CUST_INFO_ERRORS.DATE_FORMAT_INVALID'| translate }}</span>
          <span *ngIf="this.custInfoForm.get('effectiveDate').errors['invalidPricingContratDate']">{{'CUST_INFO_ERRORS.PRICING_CONTRACT_DATE_ERROR'| translate }}</span>
          <span *ngIf="this.custInfoForm.get('effectiveDate').errors['invalidDateFormat']">{{'CUST_INFO_ERRORS.DATE_FORMAT_INVALID'| translate }}</span>
          <span *ngIf="this.custInfoForm.get('effectiveDate').errors['invalidPricingCurrentDate']">{{'CUST_INFO_ERRORS.PRICING_CURRENT_DATE_ERROR'| translate }}</span>
        </span>
      </div>

      <div class="form-group col-md-2">
        <label for="expirationDate">{{ 'CUST_INFO_LABEL.PRICING_EXPIRATION_DATE' | translate }}</label>
        <div class="date-text"> {{ pricingExpirationDate | date: dateFormat }} </div>
      </div>
    </div>

    <div *ngIf="selectedContractType !== contractTypeIFS">
      <div class="orient">
        <label class="schedule-cost">{{'CUST_INFO_LABEL.SCHEDULE_FOR_COST' | translate}}</label>
        <img src="{{imageDir}}assets/images/info-icon.svg" alt="info-icon" class="info-icon"  [ngbTooltip]="'HOVER_INFO.SCHEDULE_COST' | translate"
          data-placement="bottom">
      </div>
      <div class="gfs-radiobutton orient">
        <input id="fiscalCalendar" name="calendar" type="radio" class="radio" formControlName="calendar" value="fiscal" [checked]="defaultChecked">
        <label class="radio-label" for="fiscalCalendar">{{ 'CUST_INFO_LABEL.FISCAL_CALENDAR' | translate }}</label>
      </div>
      <div class="gfs-radiobutton orient">
        <input id="gregorianCalendar" name="calendar" type="radio" formControlName="calendar" value="gregorian" class="radio">
        <label class="radio-label" for="gregorianCalendar">{{ 'CUST_INFO_LABEL.GREGORIAN_CALENDAR' | translate }}</label>
      </div>
    </div>

    <div class="seperator"></div>

    <div class="orient">
      <label class="question-toggle">{{'CUST_INFO_LABEL.PRICING_TOGGLE_QUESTION' | translate}}</label>
    </div>
    <div class="row orient">
      <div class="gfs-radiobutton col-sm-1 ">
        <input id="toggleQuestionNo" name="toggleQuestion" (change)="ontoggleQuestionNo()" type="radio" class="radio" formControlName="toggleQuestion"
          value="false" [checked]="defaultChecked">
        <label class="radio-label" for="toggleQuestionNo">{{ 'CUST_INFO_LABEL.NO' | translate }}</label>
      </div>
      <div class="gfs-radiobutton col-sm-1">
        <input id="toggleQuestionYes" name="toggleQuestion" type="radio" formControlName="toggleQuestion" value="true" class="radio">
        <label class="radio-label" for="toggleQuestionYes">{{ 'CUST_INFO_LABEL.YES' | translate }}</label>
      </div>
    </div>

    <div *ngIf="this.custInfoForm.get('toggleQuestion').value === 'true'">
      <div class="horizontal-dash"></div>
      <div class="d-flex flex-row orient">
        <div class="p-1">
          <app-toggle (selectedValue)="onPriceVerificationChange($event)" [toggelLabel]="priceVerificationLabel" [toggleDefaultState]="defaultToggleOff"
            [toggleForm]="custInfoForm.controls.priceVerificationToggle"></app-toggle>
        </div>
        <img src="{{imageDir}}assets/images/info-icon.svg" alt="info icon" class="info-icon toggle-helper"  [ngbTooltip]="'HOVER_INFO.PRICE_VERIFICATION' | translate"
          data-placement="bottom">
      </div>

      <div *ngIf="selectedContractType !== contractTypeIFS">
        <div class="d-flex flex-row orient">
          <div class="p-1">
            <app-toggle (selectedValue)="onPriceAuditChange($event)" [toggelLabel]="priceAuditLabel" [toggleDefaultState]="defaultToggleOff"
              [toggleForm]="custInfoForm.controls.priceAuditToggle"></app-toggle>
          </div>
          <img src="{{imageDir}}assets/images/info-icon.svg" alt="info icon" class="info-icon toggle-helper"  [ngbTooltip]="'HOVER_INFO.PRICE_AUDIT' | translate"
            data-placement="bottom">
        </div>
      </div>
    </div>

    <div class="horizontal-line"></div>

    <div *ngIf="priceVerificationVal || priceAuditVal">
      <div class="orient">
        <label class="cost-model">{{'CUST_INFO_LABEL.COST_MODEL' | translate}}</label>
      </div>
      <div class="d-flex flex-row orient">
        <div class="p-1">
          <app-toggle (selectedValue)="transferFeeVal = $event" [toggelLabel]="transferFeeLabel" [toggleDefaultState]="defaultToggleOn"
            [toggleForm]="custInfoForm.controls.transferFeeToggle"></app-toggle>
        </div>
        <img src="{{imageDir}}assets/images/info-icon.svg" alt="info icon" class="info-icon toggle-helper"  [ngbTooltip]="'HOVER_INFO.TRANSFER_FEE' | translate"
          data-placement="bottom">
      </div>

      <div [hidden]="this.custInfoForm.get('transferFeeToggle.selectedValue').value">
        <img src="{{imageDir}}assets/images/warning.svg" class="warning-icon" alt="info icon">
        <span class="warning-text">{{ 'CUST_INFO_ERRORS.TRANSFER_FEE_WARNING'| translate }}</span>
      </div>

      <div class="d-flex flex-row orient">
        <div class="p-1">
          <app-toggle (selectedValue)="assessmentFeeVal = $event" [toggelLabel]="assessmentFeeLabel" [toggleDefaultState]="defaultToggleOn"
            [toggleForm]="custInfoForm.controls.assessmentFeeToggle"></app-toggle>
        </div>
        <img src="{{imageDir}}assets/images/info-icon.svg" alt="info icon" class="info-icon toggle-helper"  [ngbTooltip]="'HOVER_INFO.ASSESSMENT_FEE' | translate"
          data-placement="bottom">
      </div>
    </div>

    <div class="fixed-bottom">
      <hr class="hr-adjust">
      <div *ngIf="selectedContractType !== contractTypeIFS">
        <button type="submit" class="btn btn-primary pull-right" (click)="onSubmit()">{{'COMMON.BTN_DISTRIBUTION'| translate }}</button>
      </div>
      <div *ngIf="selectedContractType === contractTypeIFS">
        <button type="submit" class="btn btn-primary float-right" (click)="onSubmit()">{{'COMMON.BTN_MARKUP'| translate }}</button>
      </div>
    </div>
  </form>
</div>
